.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1192px;
  border: 5px solid #2c3b6f;
  margin-top: 200px;

  img {
    width: 100%; 
    object-fit: contain;
  }
  article {
    
    width: 600px;
   
    h2 {
      padding: 40px;
      text-align: center;
    }
    p {
      padding: 20px;
    
    }
  }
}
