.navSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  nav {
    font-family: "Inter", sans-serif;
    color: #002bc2;
    // font-size: 0.8rem;
    max-width: 1280px;
    ul {
      display: flex;
      gap: 20px;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: #002bc2;
          
        }
      }
    }
  }
  div {
    display: flex;
  }
}
