header {
  font-family: "Jura", sans-serif;
  background-image: url(../../assets/HeaderBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 742px;
  position: relative;

  h1 {
    color: #002bc2;
    font-size: 8rem;
    position: absolute;
    top: 100px;
    right: 50px;
    span {
      color: #ffffff;
      font-size: 8rem;
    }
  }
  p {
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    top: 250px;
    right: 50px;
  }
}
