header {
  font-family: "Jura", sans-serif;
  background-image: url(../../assets/HeaderBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 742px;

  h1 {
    color: #002bc2;
    span {
      color: #ffffff;
    }
  }
  p {
    color: #ffffff;
  }
}
